[2013-07-04 19:27] bfalacerda opened #3 "edit launch file"
The nav.launch file should not include the map so it can be included in other packages that use their own map (e.g. autonomous patrolling package). After altering this, the autonomous_patrolling (and others, strands_morse?) launch files should also be edited to include the nav.launch directly

[2013-07-04 19:43] hawesie commented on #3
A very good point. Anyone know how the PR2 packages do it?

[2013-07-05 08:10] kunzel commented on #3
Should we factor out the individual components as much as possible like I did already for the [amcl.launch](https://github.com/strands-project/scitos_2d_navigation/blob/master/scitos_2d_navigation/launch/amcl.launch)?
I would suggest the following files and packages:
- amcl.launch (scitos_2d_navigation)
- move_base.launch (scitos_2d_navigation)
- scitos_state_publisher.launch (scitos_desciption)
-

[2013-07-05 09:20] nilsbore commented on #3
This sounds like a very good idea. But the state publisher is already in another package, right? If you're not already on it I'll go ahead and make a pull request with the suggested changes apart from the state publisher and the map since those include other packages. The nicest thing would really be if we didn't have a map anywhere and you have to set it as a param somewhere as the maps will alwa

[2013-07-05 09:46] kunzel commented on #3
Yes, the scitos_state_publisher is already in scitos_description. So you can include it right away. I am not working on it at the moment. So please feel free to restructure the files @nilsbore.

Passing arguments to roslaunch files should be possible according to the documentation ([roslaunch Command-line tools](http://www.ros.org/wiki/roslaunch/Commandline%20Tools) 1.2 Passing args, [`<arg>` tag]

[2013-07-05 09:49] nilsbore commented on #3
But I'm not sure we want the state publisher to be included in scitos_2d_nav.launch. I think it should be started at a more basic level. I have created a pull request with the move base and will try to pass the map as a parameter.

[2013-07-05 10:09] bfalacerda commented on #3
I was thinking of just adding, in each package that needs a map, a
current_map folder where we put the map files we want to use in a given
run, and have the launch file always loading from there. All rosparam
stuff sounds like a bit of an overkill for what we want (though I'm
biased towards copy-pasting instead of using the command line)

On 05/07/13 10:49, Nils Bore wrote:

[2013-07-05 10:13] nilsbore commented on #3
I did it as an argument to the launch file now instead. It looks like: roslaunch scitos_2d_navigation scitos_2d_nav.launch map:=(PATH_TO_MAP_FOLDER)/map.yaml.

[2013-07-05 10:29] nilsbore commented on #3
@BFALacerda If you think another structure might be more convenient, please go ahead. Otherwise I would consider this closed.

[2013-07-05 10:31] nilsbore commented on #3
That is, I'm open for discussions=). Cheers

[2013-07-05 10:50] bfalacerda commented on #3
it's ok, it looks good like this

[2013-07-05 10:50] #3 closed, assigned to nobody

[2013-07-05 14:12] bfalacerda opened #6 "add state_publisher in scitos_2d_nav.launch?"
Since the scitos_2d_nav.launch is the "complete" navigation launch file for the scitos, shouldn't it be self-contained also include the scitos_state_publisher.launch from scitos_description? Otherwise everytime we launch scitos_2d_nav, we also have to launch  scitos_state_publisher...

[2013-07-23 15:31] #6 closed, assigned to nobody

[2013-08-09 11:35] cburbridge opened #11 "Maps"
Maps are currently set by parsing a parameter to the launch file. However, I think it would be good to store all maps inside the MongoDB database, as wrapped in strands_datacentre. This would allow additional meta data to be stored attached to maps, for example, the waypoints that are used in autonomous_patrolling could be placed in the datacentre, attached to the correct map.

There is a ros pack

[2013-08-09 13:06] marc-hanheide commented on #11
not working on it right now. @Jailander (our new UOL PostDoc) might have a chance to look into this at some point. We definitely should put the maps in the DB. After a brief glimpse map_store looks like a good starting point. I don't think it's an issue to store the map directly in the DB as it also contains meta information to perform queries on, right? We can easily extend this at a later state

[2013-08-09 13:28] Jailander commented on #11
OK that seems interesting, I will take a look at map_store and start working with it, but like @marc-hanheide says I think we could start using map_store and then see how we can integrate this within the mongo database or whatever other thing we may use for central store when this is clear.

[2013-08-27 15:03] hawesie opened #13 "Check robot footprint"
@bleibe reported today that he didn't think that the robot's footprint includes the touch screen which protrudes a little beyond the base. Please can someone check whether this is the case and fix it if not?

[2013-08-27 15:35] bfalacerda commented on #13
The footprint we are using right now is a squared bounding box of the base: check https://github.com/strands-project/scitos_2d_navigation/blob/master/scitos_move_base_params/costmap_common_params.yaml

For this footprint there's no problem, though if we use a stricter approximation of the real base, we might have to take the touch screen into account

[2013-10-04 10:35] marc-hanheide opened #14 "Obstacle avoidance with Kinect"
This came out of the MAPS breakout group at the GA
- [x] test the short range Kinect (Nils)
- [x] find a good way to mount the Kinect (either a "neck lace" or using the two screws at the neck) (no idea why this is upside down on github...)
  ![img_20131004_113310](https://f.cloud.github.com/assets/1153084/1268498/7e6b5470-2ce0-11e3-9960-74fa8d24c283.jpg)
- [x] implement obstacle avoidance using of

[2013-11-05 13:19] hawesie opened #17 "Moving over thresholds"
At TUW there are problems with door thresholds. We need to address these. Can someone outline the problems again? @ToMadoRe @arbeitor @mzillich

[2013-11-05 16:15] ToMadoRe commented on #17
I tried to take a picture from the thresholds that we are struggling with. Especially the second case is really risky for the robot as it becomes very unstable and seems to lose balance completely. That's why we avoid going over that threshold at the moment but might consider some floor modifications in the future.

For the first threshold, it is rather tiny, it creates navigation problems because

[2013-11-07 17:18] ToMadoRe opened #18 "stairs"
We are just testing our robot in the marathon environment for the first time. Here we have to deal with some fancy stairs where the robot gets stuck (see pictures). The problem is that there is nothing to bump into, so the robot will just go on sending out motor commands.

I edited the map by drawing a black line where there are "No-Go" areas for the robot. As it sometimes goes there anyway, is th

[2013-11-07 17:26] nilsbore commented on #18
This will have to be fixed by the 3d obstacle avoidance. So you'll have to wait for the mounting and primesense!

[2013-11-07 22:21] mzillich commented on #18
We have the primesense carmine sensor and ordered the mounting. Can we simply sticky-tape the carmine to the robot for now and try it out?

[2013-11-08 08:01] hawesie commented on #18
Provided you can get the correct transform in the taped pose, then it should be fine. @nilsbore is the expert here though.

[2013-11-08 08:52] nilsbore commented on #18
As long as you keep it looking straight forward (downwards) and lower than 1.2 meters it should be ok. Just be sure to have the datacenter running, run the calibrate_chest node and then have the datacenter running every time you start up the robot. Make sure that the largest plane that the chest camera sees is the floor when you run the calibration node.

[2013-11-08 08:58] mzillich commented on #18
Ok, cool. Just to be sure: we only need to run the calibrate_chest node once right?

[2013-11-08 09:01] nilsbore commented on #18
Yes, as long as you don't mess with the camera fixture.

[2013-11-08 09:10] hawesie commented on #18
Are these instructions on a wiki/README somewhere?

[2013-11-08 09:28] nilsbore commented on #18
Oh, no, forgot to add them after I merged, will do!

[2013-11-08 11:36] ToMadoRe opened #19 "chest_xtion topic"
Did you modify something in the bringup launch file as well to start the chest camera? I don't have any topics \chest_xtion (only \head_xtion).
Can you plug in both xtion cameras and get the topics? We don't really mind to unplug the head one for the marathon.

[2013-11-08 11:39] nilsbore commented on #19
Yes, I had to modify the launch file. @RaresAmbrus will open a pull request after lunch which will enable running with two cameras. In the meantime, just have only the chest camera plugged in and change the topic in the launch file.

[2013-11-08 12:07] ToMadoRe commented on #19
Alright thanks. And what kind of openni version do you use? I still cannot subscribe to RGB and depth at the same time. But that shouldn't matter for this, right?

[2013-11-08 12:10] nilsbore commented on #19
No it shouldn't matter. You can try uncommenting ;USBInterface=2(or similar) in /etc/openni/GlobalDefaults.ini if you haven't done that. But Rares' pull request will take care of this.

[2013-11-08 13:13] RaresAmbrus commented on #19
@ToMadoRe
I've merged my changes in scitos_robot. Do an update and then follow the instructions on the scitos_robot wiki (bottom of the page). You will have to fiddle a bit with the USB connections - right now we have one camera on USB3 and the other one on USB2. I suggest restarting the robot after plugging in the cameras.

[2013-11-08 13:24] ToMadoRe opened #20 "update of dynamic objects in costmap using chest camera"
Navigation with the chest camera seems to solve quite a few issues in our environment. However, one thing we have noticed is that dynamic obstacles aren't updated in the costmap, i.e. if a person is crossing in front of the robot, the robot will stop and add the person to the costmap. But then it never disappears again until the robot is moved manually. Is there any solution to this?

[2013-11-08 13:29] nilsbore commented on #20
This sounds strange. If the camera is seeing the moving object, the costmap should be updated accordingly. However, if the camera has seen the object and it moves when the robot has turned away, the costmap will not be cleared. Can you try to make out in which of these scenarios this is happening? You can view the /move_base/points_subsampled to get an idea of what the camera is seeing. You can al

[2013-11-08 13:54] ToMadoRe commented on #20
Well, it happens if you step in front of the robot. There are just obstacles added to the costmap (/move_base/local_costmap/) but not removed. It just deletes these obstacles from the map when they are behind the robot.
/voxel_marked_cloud shows me the points in 3D and there obstacles don't get removed either.

[2013-11-08 13:57] nilsbore commented on #20
This is really strange, I will have to have a look at that. This part has been working nicely on our robot. Can you please check that /points_subsampled is aligned well with the floor in rviz?

[2013-11-08 14:03] nilsbore commented on #20
Another thing that would be good to check if you have any printouts from scitos_2d_nav, like "can not raytrace because camera is outside of map". If the camera is too high up (I think above ~1.2 m) this will happen.

[2013-11-08 14:23] nilsbore commented on #20
I've been testing this again and I can't get it to fail. If you want to, we can debug over skype, my username is nils.bore.

[2013-11-08 14:41] ToMadoRe commented on #20
I will try to point the camera a bit "steeper" and re-calibrate it... Have to leave soon but maybe I will get back to you next week then. Cheers

[2013-11-08 14:43] nilsbore commented on #20
It shouldn't really matter at what angle you put it. Just make sure that the pointcloud looks like it's aligned in rviz. Sure, have a nice weekend!

[2013-11-11 14:41] hawesie commented on #17
I wonder if the force parameter from https://github.com/strands-project/strands_management/issues/22 might improve threshold performance?

[2013-11-11 14:42] hawesie opened #21 "Height of obstacles from chest sensor"
@nilsbore said he would provide instructions on how to adjust the height at which objects from the chest sensor are filtered out (in order to allow TUW @mzillich to see window frames).

[2013-11-11 14:46] hawesie opened #22 "Robot footprint"
Currently the rectangular footprint is causing problems for the robot. In particular it appears to be able to drive into locations which it cannot get out of. Please can someone take responsibility for exploring better footprints? Apparently this can be done by dynamic reconfigure if someone can provide information on this.

[2013-11-11 14:47] hawesie commented on #22
Note that KTH's robot is poorly, so they won't be able to do this.

[2013-11-11 14:54] nilsbore commented on #21
Change the line `point_cloud_sensor: {topic: /move_base/points_obstacle, data_type: PointCloud2, marking: true, clearing: false, min_obstacle_height: 0.1, max_obstacle_height: 0.9, observation_persistence: 0.0, obstacle_range: 2.0}` in scitos_move_base_params_3d/costmap_common_params.yaml to the `min_obstacle_height` that you want. I don't know how to make that a ros parameter so you will have to

[2013-11-11 14:56] hawesie commented on #21
Thanks! @mzillich please can you report when you've got a reliable low value?

[2013-11-11 16:32] ToMadoRe commented on #17
we have moved our robot to a newer building without such thresholds. But we will investigate that after the marathon at the latest.

[2013-11-12 11:07] ToMadoRe commented on #20
@nilsbore : Can we maybe debug over Skype later on? I still have the same problems even after re-calibration and improving the camera mounting.

[2013-11-12 11:36] nilsbore commented on #20
Yeah, sure. How about now?

[2013-11-12 12:54] nilsbore commented on #20
So we tried to debug this now and got it to work by using just the chest camera by setting with_camera:=false when launching scitos_bringup. I have a hypothesis of what went wrong here. It might have been that the chest camera updates were clogged for some time, obstacles were added but not removed since no new frames were coming in. So therefore it worked with just one camera, because the images

[2013-11-12 14:17] ToMadoRe commented on #20
it seems to work now. As Nils said, the problem was probably due to using both cameras.

[2013-11-12 14:19] nilsbore commented on #18
Was this fixed by using the chest camera, @ToMadoRe ?

[2013-11-12 14:21] ToMadoRe commented on #18
Yes, problem fixed by the chest cam.

[2013-11-12 14:21] #18 closed, assigned to nobody

[2013-11-12 14:25] nilsbore commented on #14
I think we can close this issue now since camera, mounting and implementation are decided upon. The problems that turn up can be discussed in separate issues.

[2013-11-12 14:25] #14 closed, assigned to nilsbore

[2013-11-12 14:26] nilsbore commented on #19
Closing this since this is fixed by https://github.com/strands-project/scitos_robot/pull/24.

[2013-11-12 14:26] #19 closed, assigned to nobody

[2013-11-14 09:04] ToMadoRe commented on #13
Does this mean that by increasing the footprint the path planner will increase the minimum distance to obstacles? In our tests the robot display is sometimes really close to hitting something and I don't think that this goes well in all possible situations. In order to lower this risk, should we increase the footprint, the inflation_radius or any other parameter?
Yesterday we increased the inflati

[2013-11-14 09:12] ToMadoRe opened #23 "Mapping including obstacles from chest camera"
Was wondering if there is a possibility to include obstacles recognized by the chest camera into the map_saver mapping? So far, we did all the mapping just using the laser (editing some stuff by hand afterwards) and only for localization/navigation we use both, laser and the camera. Wouldn't the localization benefit from a map created by the combination of both systems?

[2013-11-14 09:50] nilsbore commented on #23
Since the sensors are located at different heights and are of different types this is not very straightforward. One could envision a system where you would do localization at different slices stacked on top of each other, however that is not possible with amcl atm. Then there's the possibility of full 3d localization, something that would require mayor work but that we'll investigate in the future

[2013-11-14 10:54] bfalacerda commented on #13
By increasing the front of the footprint, the robot will not get its front as close to obstacles as it does right now, so when it rotates the screen will also be further away from the objects it might crash into. I expect this to have less of an impact on navigation than increasing the inflation radius, because we keep the width constant. Another option is playing with the cost of going close to o

[2013-11-14 15:40] ghost commented on #20
Our problem is similar to this I think. We attached the camera, ran the calibration and made sure both cameras give nice streams. If you visualize the stream it comes in a good framerate, but most objects we put in front of it aren't added to the costmap. If we put something on the ground, which is below the range of the laser scanner it simply ignores is and pushes it away. Same goes for feet. Is

[2013-11-14 15:43] nilsbore commented on #20
So it does add larger objects and clears them correctly? Currently it only adds objects that are more than 1 dm above ground. You can try to change this as detailed in https://github.com/strands-project/scitos_2d_navigation/issues/21.

[2013-11-14 15:44] nilsbore commented on #20
Also, it's good to have a look in rviz to see that the cloud looks like it's well aligned to the floor after "calibration".

[2013-11-14 16:06] ghost commented on #20
The calibration actually looks very good. However for us it seems to work with objects around 2dm in size. For the rest it does seem to work okay.

What are the further plans? I can understand that recognizing feet is rather hard as this could easily be noise, but wasn't this one of the reasons why we also wanted this chest camera ?

[2013-11-15 07:56] lucasb-eyer opened #24 "Memory leak"
There seems to be a big memory leak in `subsample_cloud`, i.e. `subsample_cloud.cpp` (unlikely) or `noise_approximate_voxel_grid.cpp/.h` (likely.)

This morning, the robot stood still. It does so because both the RAM and the swap are completely full. `subsample_cloud` fills about 3.5Gb and `rviz` the remaining 2.6Gb.

@marc-hanheide is running the unittests on Jetkins through valgrind an option? T

[2013-11-15 08:02] lucasb-eyer commented on #24
This is an obvious one. `_history` is never deleted... Fixing in a few minutes.

[2013-11-15 08:03] nilsbore commented on #24
Oh, shit. Haven't noticed this. I will have a look at this and try to fix it today.

[2013-11-15 08:19] lucasb-eyer commented on #24
Don't need to, already fixed, gonna push it after testing.

[2013-11-15 08:46] lucasb-eyer commented on #24
Fixed in afaa00bc

[2013-11-15 08:46] #24 closed, assigned to nobody

[2013-11-15 08:47] nilsbore commented on #24
Fantastic, good catch! I never had a good look at the code since it's taken more or less as is(with one simple addition to remove some of the noise) from pcl. So the leak should be there in pcl approximate_voxel_grid as well.

[2013-11-15 09:05] ToMadoRe commented on #20
We also had this update problem again yesterday. Once I ran across in front of the robot where it stopped accordingly. But then it never continued until I pushed the robot a bit. Sometimes the costmap just does not remove  obstacles when the disappear.

[2013-11-15 09:45] nilsbore commented on #20
Ok, can you try to replicate this and save the costmap or pin down where the lingering obstacles were in the field of view? Did you get a chance to see if there was anything lingering in the costmap? I think I will have to make some kind of setup with my camera on the desk to debug this (robot in Germany atm).

[2013-11-15 10:10] nilsbore commented on #24
Yeah, destructor missing in ROS version of PCL also, but it is fixed in the new version.

[2013-11-15 11:17] nilsbore commented on #20
@AlexanderHermans As you say it is very hard to separate e.g. feet from the floor because of noise. I can't really say how we would solve this. What could be useful would be to drive around and map the maximum height above the floor measured for different areas of the field of view and accumulate them in a discretized map. One could then go about making a threshold that would vary across the floor

[2013-11-15 12:36] ghost commented on #20
@nilsbore not really. I was just wondering what the point of the whole thing is if it barely detects something (Not to discredit your work here! :x) But maybe it is just that most of the obstacles in our lab are detected by the laser anyway.

For the marathon I am rather scared about the fact that on an average day Karl gets stuck at least once ...

[2013-11-15 12:46] nilsbore commented on #20
The problem that we needed to solve was that it ran into obstacles above or slightly below the laser, chairs with wheels, tables and the dishwasher door when it was open. We couldn't avoid those without the camera. So I think this was an important addition. Then of course it would be good if it could avoid small objects on the floor and we should try to get that better, it's certainly possible.

D

[2013-11-15 13:08] ghost commented on #20
Yea, the dishwasher seemed to be detected, but apart from that I haven't seen a lot of improvements, but since yesterday it has had several problems, so I haven't really been able to see actual improvements yet.

[2013-11-15 14:25] nilsbore opened #25 "Unable to test scitos_2d_navigation atm"
So we haven't had a functioning robot for over a week now and I've been unable to work as much on this package as planned. If one or more could test this some more and investigate for example a different robot footprint(https://github.com/strands-project/scitos_2d_navigation/issues/22) that would be great. Also @ToMadoRe seems to have had some problems with people moving in front of the robot(http

[2013-11-15 14:35] ghost commented on #20
@nilsbore Sorry I somehow missed your reference to #22

It could be yes, however we have seen some strange behavior that is not based on this, most notable:
- It stood somewhere in a room spinning in circles without end.
- It just stood in front of the charging station doing nothing.

Do you know how to change the footprint? If so I can see if this improves the lifetime of an average run in our la

[2013-11-15 14:42] bfalacerda commented on #20
@AlexanderHermans , move_base parameters are here:

https://github.com/strands-project/scitos_2d_navigation/tree/master/scitos_move_base_params

The foot print is on  costmap_common_params.yaml

Did you chec what the robot was trying to to in those failure cases you mentioned?

[2013-11-15 14:47] nilsbore commented on #20
You can try to change the footprint in scitos_move_base_params_3d/costmap_common_params.yaml. I think the uncommented footprint is corresponding more to the outline of the robot. But I think it could be effective to just have a half circle or triangle at the front to make sure it does not get stuck with the front against a wall.

As for the other issues, it's hard to say. It clearly didn't find a

[2013-11-15 14:59] ghost commented on #20
I will try this now. The second one indeed looks very similar to the actual footprint.

Sadly I didn't check what it really was doing exactly.

When it was standing in the other room, rotating, it looked a lot like the behavior it shows when it is looking for the charging station (as it was rotating very slowly). I reconfigured the battery parameters just before, so I think it was mis-localized, a

[2013-11-15 15:28] bfalacerda commented on #20
yes, the one that it there is too detailed and makes move_base too slow.

My idea was keeping a rectangular shape, but increasing the front,so it becomes symmetric

[2013-11-15 15:35] ghost commented on #20
It seems to be running fine currently :x Although it does indeed complain
that  the control loop misses its desired rate of 10Hz.

On Fri, Nov 15, 2013 at 4:28 PM, BFALacerda notifications@github.comwrote:

[2013-11-15 17:50] ghost commented on #20
Okay, so we tried making it fatter in all directions, including the front, that was pretty... let's just say it didn't work. @BFALacerda, your suggestion isn't working extremely well either, while it works better than our first idea, it gets stuck pretty often still. The best we saw was actually the real footprint, but this is indeed getting slower with time. So I am trying to approximate this now

[2013-11-18 08:55] ToMadoRe commented on #25
Also, please let me know if anyone else is having problems with starting the robot with two cameras.
By trial and error, I figured out that I have to plug in the head camera into USB3.0 just after the GRUB menu disappeared. A bit later, the camera won't be recognized by the system or, otherwise, the screen stays black and shows a blinking cursor.

[2013-11-18 08:57] nilsbore commented on #25
Did you manage to get them running at a steady rate?

[2013-11-18 09:09] ToMadoRe commented on #25
I actually don't think it runs on a steady rate. I only checked the images in RVIZ, which sometimes lag a bit. But apart from that, I haven't really investigated that.

[2013-11-18 09:10] RaresAmbrus commented on #25
You should check with rostopic hz.

[2013-11-18 09:12] ToMadoRe commented on #25
okay, will do that next time I start the robot.

[2013-11-18 09:19] RaresAmbrus commented on #25
When running only scitos bringup you should ideally get an update rate of 29-30 hz for all the streams, rgb and depth.

[2013-11-18 13:05] nilsbore commented on #20
@ToMadoRe , @AlexanderHermans  So if you still have the problem of currently seen obstacles not being removed, it could be that you're camera is looking more up than ours. The problem could then be that the ray-tracing range is currently set to 2.8 m. You can try the change in my repo https://github.com/nilsbore/scitos_2d_navigation or manually set the `raytrace_range` of `clear_sensor` to 4.0 m (

[2013-11-18 13:05] nilsbore commented on #20
This would be in scitos_costmap_params_3d/costmap_common_params.yaml

[2013-11-18 16:33] bfalacerda commented on #20
This could be the problem, as ours is as tilted down as possible and I didn't see clearing costmap clearing problems here yet. Didn't test it that thoroughly though

[2013-11-18 16:39] RaresAmbrus commented on #20
Can you please also take a look at the framerates of the two cameras ? Use

[code]

This will give us an idea whether the feeds are coming at a proper rate. For us the feeds were about 30 fps after starting scitos_bringup, but when we started the rest of the processes the framerate of the head camera dropped to about 5fps and only came erratically (we haven't tried docking with it like that); afte

[2013-11-18 16:45] bfalacerda commented on #20
We are steady at 30hz for head and 15 hz for chest with or without other processes running

[2013-11-20 09:25] bfalacerda opened #26 "navfn planing through walls"
We have witnessed the global planner planning through walls. @kunzel just found out this is a move_base bug, solved in hydro, but not in groovy:

https://github.com/ros-planning/navigation/issues/102

One suggestion made there to avoid the issue in groovy is to not have obstacle_range shorter than raytrace_range (which we do, it's the default). If no one disagrees, I'm going to change them so that

[2013-11-20 19:31] nilsbore commented on #20
So, @ToMadoRe , are you up for some skyping tomorrow? Also, if you have the opportunity, please take a screenshot of the situation where it fails and check the frequency of the published topics. The drop in framerate can come sporadically so if you can check it when it happens that would be great.

[2013-11-21 06:21] ToMadoRe commented on #20
Sure, i will try to reproduce it and contact you then.

[2013-11-21 11:09] ToMadoRe commented on #20
I think I know one reason for our problem. Looking at the picture below, one can see that the chest camera doesn't see the obstacle anymore and so it probably doesn't update the according costmap. A reason can be that the robot can't stop immediately, but moves on a bit until it eventually stops. Thus, if a person jumps quickly in front of the robot, this problem can happen.
It could be improved i

[2013-11-21 11:18] nilsbore commented on #20
I think you should tilt it a bit more, that's at least the better option in this situation. Where are the laser scan obstacles in the map? It seems strange that just those four parts are left. It would be cool if you could try this out to see if the map will be cleare out completely when it fails like this:

[2013-11-21 11:18] nilsbore commented on #20
I had a brief look at this and it seems like the costmap is cleared outside or within(not entirely clear) a circle with default radius 3.0 m. This radius can be changed with the conservative_reset_dist parameter of move_base. It would be cool to see what happen if we set this parameter to 0.0, hopefully the whole map will clear.

[2013-11-21 11:20] nilsbore commented on #20
So in launch/move_base_3d.launch put:

`<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">

        <remap from="/move_base/local_costmap/voxel_grid" to="/voxel_grid"/>
        <param name="conservative_reset_dist" value="0.0" />`

The last line is the proposed change.

[2013-11-21 13:49] ToMadoRe commented on #20
Haven't had any problems so far. Your suggestion seems to work. Thanks :)

[2013-11-21 13:56] nilsbore commented on #20
Cool, please let me know as soon as it fails again.

[2013-11-21 13:57] nilsbore commented on #20
If this solves the problems I think we should merge it before the marathon.

[2014-01-16 17:28] Jailander opened #28 "why is this repository only one package?"
Hi,
I wanted to include two different nodes that are closely related to 2D navigation (a topological navigation planner and an action server that calls move base without caring for the orientation) in the project and I think that this would be the place for it, but I am not sure, is there any other place for these kind of nodes?.

[2014-01-16 20:20] hawesie commented on #28
Because it is very generally useful and shouldn't contain code that goes beyond it's remit: "The scitos_2d_navigation stack holds common configuration options for running the 2D navigation stack on a Scitos A5 robot"

I think your additional nodes should go in a new repository, e.g., strands_navigation.

[2014-01-17 11:03] Jailander commented on #28
I previously had them all mixed up in autonomous_patrolling and now I have them scitos_apps but I don’t think that they belong to any of these repositories, should we create strands_navigation then?

[2014-01-17 14:20] hawesie commented on #28
I think so.

[2014-01-17 14:27] Jailander commented on #28
Can you do it?, I don't have enough permissions

[2014-01-17 14:43] hawesie commented on #28
Done. https://github.com/strands-project/strands_navigation

[2014-01-17 14:43] #28 closed, assigned to nobody

[2014-01-17 14:44] Jailander commented on #28
Thank you!

[2014-01-31 16:52] Jailander opened #29 "Linda is frequently overshooting her goals"
Hi, since we updated the STRANDS installation on Linda last week she has been overshooting her navigation targets very often, we first thought that it may be related to some changes that we implemented and reduced the computational load on some modules an even though the problem was less acute it was still a problem, we tried to go back to our previous system to test and the problem persists and s

[2014-02-13 10:22] hawesie opened #30 "Test layered costmaps"
Report progress and document process for creating the extra maps.

[2014-02-13 10:23] hawesie opened #31 "Optimise navigation parameters"
@nilsbore wanted to optimise navigation parameters in order to reduce load and increase performance.

[2014-02-13 10:23] hawesie commented on #31
See also https://github.com/strands-project/scitos_2d_navigation/issues/13

[2014-02-13 10:24] hawesie commented on #31
And https://github.com/strands-project/scitos_2d_navigation/issues/29

[2014-02-13 10:49] Jailander commented on #29
Migrating to hydro may solve the problem

[2014-02-14 17:02] bfalacerda commented on #31
some questions/comments for @nilsbore:
1. Why did you change `update_frequency` from 5.0 to 3.0? I replaced it by 5.0 again as I was copy-pasting around, but we can revert back to 3.0 if that-'s needed.
2. The minimum value for `origin_z`, as seen in rqt_reconfigure, is 0.0, thus the -0.08 you're giving is not doing anything right now.

[2014-02-14 19:51] nilsbore commented on #31
1. The update frequency was to reduce computational load as I did not see side effects. As discussed this might be the cause of the over-shooting issue but on the other hand it seems that it has gotten worse with the 2d obstacle avoidance as well.
2. Ok, I did not know this. The best thing would probably be to decrease origin_z then. Good catch!

[2014-02-25 13:14] hawesie opened #34 "Distance to wheelchairs"
@TobKoer reported the following from the AAF test run:

"We noticed that the robot, when passing by, actually moves very close to persons/wheelchairs. This is rather intimidating for persons sitting in a wheelchair, as the distance is very close and one always has the feeling the robot is going to bump into the wheelchair. So, social distance when passing by should be changed, or the robot should

[2014-02-27 16:34] marc-hanheide commented on #31
sorry, has something been done on this. Has anyone checked if this is actually the cause for the overshooting #13 and #29 ? Also, which files are you talking about, I seem not to be able to find it.

[2014-02-27 16:44] bfalacerda commented on #31
I can't tell for sure, I didn't look into this since. The only thing I can say as that I continue to witness overshooting when running on hydro, both with and without the chest camera.

The parameters I talked about are in the costmap params files here:
https://github.com/strands-project/scitos_2d_navigation/tree/hydro-devel/scitos_move_base_params_3d

[2014-03-25 12:42] #25 closed, assigned to nobody

[2014-04-16 15:28] #26 closed, assigned to bfalacerda

[2014-09-02 09:36] marc-hanheide opened #43 "refactoring and preparing release"
This repository needs a little restructuring according to the plans outlined in https://github.com/strands-project/strands_management/wiki/software-distribution

The idea is that it is pure configuration repository with launch files and parameter files that is specific to the scitos robot. So, it should only contain parameters and launch files for `move_base` on scitos, everyting else (src, and 3D

[2014-09-02 11:55] nilsbore commented on #43
So configuration files and launch files for 3d move_base should also go in the strands_movebase repo? Or should scitos_2d_navigation depend on strands_movebase? Also, I think it looks good to put the calibrate_chest in the strands_movebase repo. But the `chest_calibration_publisher` should always be run at robot startup (otherwise we don't have a valid tf) so `scitos.launch` would still have to in

[2014-09-02 12:11] marc-hanheide commented on #43
I think the plan is that `scitos_2d_navigation` is only about the parameters for having a **2D** navigation without any Kinect etc. So, also the launch file including the `chest_calibration_publisher` should go into `strands_movebase`. This one should in @hawesie and my view only have stuff in it to run move_base on a scitos robot. The other stuff are our own extensions if that makes sense?

[2014-09-02 12:14] nilsbore commented on #43
Yeah, I think it does, thanks for clarifying.

[2014-09-02 12:16] nilsbore commented on #43
@hawesie , @marc-hanheide Could one of you guys create the repo and I'll do it in the next few days.

[2014-09-02 12:33] marc-hanheide commented on #43
done: https://github.com/strands-project/strands_movebase

you're also a member with write access, @nilsbore

[2014-09-02 12:34] nilsbore commented on #43
Thanks!

[2014-09-03 14:17] nilsbore commented on #43
Are we still supposed to work on the hydro-devel branch?

[2014-09-04 15:21] marc-hanheide commented on #43
I'd say so, yes!

[2014-09-20 14:24] marc-hanheide opened #44 "Amcl uses the no go map to localise"
Acml currently calls the /static_map service to get the map and that delivers the nogomap rather than the correct Nav map due to the order in the scitos_2d_navigation launch file. We should set amcl to use the /map topic instead with private parameter `use_map_topic`.

This is an urgent matter as it causes major localisation issues when using a highly crafted nogomap.

[2014-10-01 16:38] marc-hanheide commented on #44
@Jailander is this fixed now?

[2014-10-01 16:39] marc-hanheide commented on #43
I have already entered this repo into the integration server, but not released anything (obviously). Most importantly, this package doesn't install anything yet. the `install` targets in `CMakeLists.txt` need to be filled properly.

[2014-10-01 16:41] marc-hanheide commented on #43
I should add that the package builds fine on the integration server, so all dependencies are correctly resolved. Well done!

See https://lcas.lincoln.ac.uk/jenkins/job/devel-hydro-scitos_2d_navigation/ARCH_PARAM=amd64,UBUNTU_PARAM=precise,label=devel/1/console

[2014-10-01 16:43] Jailander commented on #44
yes it is, I tested it on simulation doesn't happen any more

[2014-10-01 16:45] marc-hanheide commented on #44
then let's close this

[2014-10-01 16:46] marc-hanheide commented on #44
ah. not merged yet... then I shall reopen

[2014-10-14 11:01] Jailander commented on #44
Now is merged you can close this issue

[2014-10-30 14:50] hawesie opened #48 "missing dependency amcl"
It's used in the launch file but not listed in package.xml.

[2014-10-30 14:55] nilsbore commented on #48
Fixed in https://github.com/strands-project/scitos_2d_navigation/pull/49.

[2014-12-01 13:57] nilsbore commented on #43
@marc-hanheide Close this?

[2014-12-01 13:58] nilsbore commented on #21
@hawesie There is a parameter to `strands_movebase` now. Please close.

[2014-12-01 14:00] nilsbore commented on #13
Since @lucasb-eyer updated the footprint, maybe it's time to finally close this? @marc-hanheide

[2014-12-01 14:04] nilsbore commented on #20
Again, more of a general discussion thread that is out-of-date. @marc-hanheide Close?

[2014-12-01 14:21] lucasb-eyer commented on #13
:+1: I don't think it caused any problems for us during the marathon, it helped.

[2014-12-01 14:32] marc-hanheide commented on #43
sure

[2014-12-01 14:32] #43 closed, assigned to nilsbore

[2014-12-01 14:33] #20 closed, assigned to nobody

[2014-12-01 14:33] #13 closed, assigned to nobody

[2015-02-21 15:18] #44 closed, assigned to Jailander

[2015-03-10 14:04] Jailander opened #55 "Why is this repo not merged in strands_movebase"
Is there any reason that this repo is not in strands_movebase it gets confusing having it separate

[2015-03-10 14:53] nilsbore commented on #55
See https://github.com/strands-project/scitos_2d_navigation/issues/43 for discussion.

[2015-03-10 14:58] Jailander commented on #55
ah ok :) since there is a reason I'll close the issue

[2015-03-10 14:58] #55 closed, assigned to nobody

[2015-03-19 11:47] bfalacerda opened #57 "mirror strands_movebase params"
Some of the params in this repo are not up-to-date, when comparing to the strands-movebase params. We should update them

[2016-11-27 11:36] #21 closed, assigned to nilsbore